 body {
     min-height: 100vh;
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 form {
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: center;
 }

 .resultado {
     margin-top: 20px;
     text-align: center;
     font-size: 1.2em;
 }